{% load crispy_forms_tags %}
<!--interaction Modal -->
<div class="modal fade " 
     id="interaction_modal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="interaction_modal" 
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header fw-bold">
                Interaction
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col text-start" id="div_id_good_three_harvest">
                        <input type="number" 
                           class="transfer_model_input form-control-lg fw-bold"
                           v-model="selected_player.interaction_amount"
                           min="0"
                           max="999"
                           step="1">         
                           
                           of 
                    </div>
                </div>
                         
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-primary mr-2"
                        v-on:click = "cancel_interaction()"
                        title="Cancel Interaction"                       
                        v-bind:disabled="reconnecting || working">
                    Cancel <i class="fas fa-ban"></i>
                </button>
                
                <button type="button"
                        class="btn btn-outline-primary"
                        v-on:click = "send_interaction()"
                        title="Submit Interaction"                       
                        v-bind:disabled="reconnecting || working">
                    Submit <i class="fas fa-sign-in-alt"></i>
                </button>

            </div>
        </div>
    </div>
</div>