{% load crispy_forms_tags %}
<!--interaction Modal -->
<div class="modal fade " 
     id="interaction_modal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="interaction_modal" 
     aria-hidden="true">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header fw-bold">
                Interaction

                <span class="float-end">
                    <button type="button" 
                            class="btn btn-link" 
                            title="Show Help" 
                            v-on:click="send_interaction_help()">
                        <i class="far fa-question-circle"></i> 
                    </button>
                    
                </span>
            </div>
            <div class="modal-body" v-if="selected_player && selected_player.session_player && session">
                <div class="row text-center">
                    <div class="col" v-if="selected_player.interaction_type=='send_seeds' || 
                                           selected_player.interaction_type=='take_seeds'">
                        <img src="/static/seed_1.png" />
                    </div>
                </div>

                <div class="row h5 mt-2">
                    <div class="col text-center">
                        <span v-if="selected_player.interaction_type=='send_seeds'">
                            Send Seeds to [[selected_player.parameter_set_player.id_label]]
                        </span>
                        <span v-if="selected_player.interaction_type=='take_seeds'">
                            Take Seeds from [[selected_player.parameter_set_player.id_label]]
                        </span>

                        <span v-if="selected_player.interaction_type=='send_disc'">
                            Send Disc Copies to [[selected_player.parameter_set_player.id_label]]
                        </span>
                        <span v-if="selected_player.interaction_type=='take_disc'">
                            Take Disc Copies from [[selected_player.parameter_set_player.id_label]]
                        </span>
                    </div>
                </div>
                
                <div class="row mt-4 ">
                    <div v-if="selected_player.interaction_type=='send_seeds' ||
                               selected_player.interaction_type=='take_seeds'">
                        <div class="row justify-content-center">
                            <div class="col-5 me-0 pe-1">
                                <input type="number" 
                                    class="form-control form-control-lg fw-bold"
                                    v-model="selected_player.interaction_amount"
                                    min="0"
                                    max="999"
                                    step="1">    
                            </div>

                            <div class="col-4 ms-0 ps-1 pe-0">
                                <button type="button"
                                    class="btn btn-outline-primary btn-lg"
                                    v-on:click = "select_all_seeds()"
                                    title="Select All Seeds"                       
                                    v-bind:disabled="reconnecting || working">
                                    All <i class="fas fa-check-double"></i>
                                </button>
                            </div>

                            <div class="row mt-2">
                                <div class="col text-center fw-bold">
                                    Max: [[selected_player.interaction_type=='take_seeds' ? session.world_state.session_players[selected_player.selected_player_id].seeds:session.world_state.session_players[session_player.id].seeds]]
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <!-- my disc -->
                        <div class="row">
                            <div class="col h5">
                                <div class="form-check" 
                                            v-if="session_player.id in selected_player.interaction_discs">
                                    <input class="form-check-input" 
                                            type="checkbox" 
                                            value=""
                                            v-bind:id="'interaction_cb_' + session_player.id"
                                            v-model="selected_player.interaction_discs[session_player.id]">
                                    <label class="form-check-label" 
                                            v-bind:for="'interaction_cb_' + session_player.id">
                                        My Disc Copy                                   
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- other discs -->
                        <div class="row" v-for="(value, key) in selected_player.interaction_discs" 
                                v-bind:key="key">
                            <div class="col h5">
                                
                                <div class="form-check" 
                                     v-if="key!=session_player.id">
                                    <input class="form-check-input" 
                                           type="checkbox" 
                                           value="" 
                                           v-bind:id="'interaction_cb_' + key"
                                           v-model="selected_player.interaction_discs[key]">
                                    <label class="form-check-label" 
                                           v-bind:for="'interaction_cb_' + key">
                                        [[get_parameter_set_player_from_player_id(key).id_label]]'s Disc Copy                                 
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- select all -->
                        <div class="row mt-4">
                            <div class="col text-center">
                                <button type="button"
                                        class="btn btn-outline-primary"
                                        v-on:click = "select_all_discs()"
                                        title="Select All Discs"                       
                                        v-bind:disabled="reconnecting || working">
                                    Select All <i class="fas fa-check-double"></i>
                                </button>
                            </div>
                        </div>

                        <!-- empty -->
                        <div class="row">
                            <div class="col text-center"
                                 v-if="JSON.stringify(selected_player.interaction_discs)==='{}'">
                                <span v-if="selected_player.interaction_type=='send_disc'">
                                    ** Your inventory is empty **
                                </span>
                                <span v-else>
                                    ** Their inventory is empty **
                                </span>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                         
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-primary mr-2"
                        v-on:click = "cancel_interaction()"
                        id = "id_cancel_interaction_button"
                        title="Cancel Interaction"                       
                        v-bind:disabled="reconnecting || working">
                    Cancel <i class="fas fa-ban"></i>
                </button>
                
                <button type="button"
                        class="btn btn-outline-primary"
                        v-on:click = "send_interaction()"
                        id = "id_submit_interaction_button"
                        title="Submit Interaction"                       
                        v-bind:disabled="reconnecting || working">
                    <span v-if="selected_player.interaction_type=='send_seeds' || selected_player.interaction_type=='send_disc'">
                        Send
                    </span>
                    <span v-if="selected_player.interaction_type=='take_seeds' || selected_player.interaction_type=='take_disc'">
                        Take
                    </span>

                    <i class="fas fa-sign-in-alt"></i>
                </button>

            </div>

            <div class="row mt-2 mb-2 fw-bold" v-if="interaction_error">
                <div class="col text-center">                  
                    Error: [[interaction_error]]  
                </div>
            </div>
        </div>
    </div>
</div>