{% load crispy_forms_tags %}
<!--interaction Modal -->
<div class="modal fade " 
     id="interaction_modal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="interaction_modal" 
     aria-hidden="true">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header fw-bold">
                Interaction

                <span class="float-end">
                    <button type="button" 
                            class="btn btn-link" 
                            title="Show Help" 
                            v-on:click="send_load_help_doc_subject('interaction_direction')">
                        <i class="far fa-question-circle"></i> 
                    </button>
                    
                </span>
            </div>
            <div class="modal-body" v-if="selected_player && selected_player.session_player">
                <div class="row text-center">
                    <div class="col" v-if="selected_player.interaction_type=='send_seeds' || 
                                           selected_player.interaction_type=='take_seeds'">
                        <img src="/static/seed_1.png" />
                    </div>
                </div>

                <div class="row h5 mt-2">
                    <div class="col text-center">
                        <span v-if="selected_player.interaction_type=='send_seeds'">
                            Send Seeds to [[selected_player.parameter_set_player.id_label]]
                        </span>
                        <span v-if="selected_player.interaction_type=='take_seeds'">
                            Take Seeds from [[selected_player.parameter_set_player.id_label]]
                        </span>

                        <span v-if="selected_player.interaction_type=='send_disc'">
                            Send Disc to [[selected_player.parameter_set_player.id_label]]
                        </span>
                        <span v-if="selected_player.interaction_type=='take_disc'">
                            Take Disc from [[selected_player.parameter_set_player.id_label]]
                        </span>
                    </div>
                </div>
                
                <div class="row mt-4">
                    <div class="col text-center" id="div_id_good_three_harvest">
                        <input type="number" 
                           class="transfer_model_input form-control-lg fw-bold"
                           v-model="selected_player.interaction_amount"
                           min="0"
                           max="999"
                           step="1">         
                    </div>
                </div>
                         
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-primary mr-2"
                        v-on:click = "cancel_interaction()"
                        title="Cancel Interaction"                       
                        v-bind:disabled="reconnecting || working">
                    Cancel <i class="fas fa-ban"></i>
                </button>
                
                <button type="button"
                        class="btn btn-outline-primary"
                        v-on:click = "send_interaction()"
                        title="Submit Interaction"                       
                        v-bind:disabled="reconnecting || working">
                    <span v-if="selected_player.interaction_type=='send_seeds' || selected_player.interaction_type=='send_disc'">
                        Send
                    </span>
                    <span v-if="selected_player.interaction_type=='take_seeds' || selected_player.interaction_type=='take_disc'">
                        Take
                    </span>

                    <i class="fas fa-sign-in-alt"></i>
                </button>

            </div>

            <div class="row mt-2 mb-2 fw-bold" v-if="interaction_error">
                <div class="col text-center">                  
                    Error: [[interaction_error]]  
                </div>
            </div>
        </div>
    </div>
</div>